#wrapper {
  margin-right: 200px;
}
.row{
  display: flex;
  flex-wrap: wrap;

}
.col-6
{
  width: 50%;
  padding:15px;

}
* {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
#leftlist {
  float: left;
  width: 50%;
  font-size:70px;
}
#righttable {
  float: right;
  width: 80%;
font-size:70px;
  margin-right: -200px;
}
#cleared {
  clear: both;
}

.table {
    border-collapse: collapse; 
    border:1px solid #69899F;
} 
.table td{
    border:1px dotted #000000;
    padding:5px;
}
.table td:first-child{
    border-left:0px solid #000000;
}
.table th{
   border:2px solid #69899F;
   padding:5px;
}