<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<h1>
{{ title }}
</h1>
</div>

<div class="row">

  <div class="col-6">
    <h1>List of Players </h1>
      <div *ngFor="let PlayersNames of viewPlayersList" (click)="selectPlayer(PlayersNames.name,PlayersNames.id)">
        <p>{{PlayersNames.name}}</p> 
      </div>
    </div>

    <div class="col-6">
      <h1>Categories </h1>
      <table  width="400" height="400" class="table table-bordered">
        <tr>
          <td>Bowlers</td>
          <td>
          <a *ngFor="let Bowlers of bowlersList" style="padding: 10px;">{{Bowlers.name}}<img src="assets/deleteicon.png" height="20" width="20" (click)="removeList(Bowlers.id,'bow')" /></a>
          </td>
        </tr>
        <tr>
          <td>All Rounders</td>
          <td>
          <a *ngFor="let allRounders of allRowndersList" style="padding: 10px;">{{allRounders.name}}<img src="assets/deleteicon.png" height="20" width="20" (click)="removeList(allRounders.id,'all')" /></a>
          </td>
        </tr>
        <tr>
          <td>Batsman</td>
          <td>
          <a *ngFor="let batsman of batsman" style="padding: 10px;">{{batsman.name}}<img src="assets/deleteicon.png" height="20" width="20"   (click)="removeList(batsman.id,'bat')" /></a>
          </td>
        </tr>
        <tr>
          <td>WicketKeeper</td>
          <td>
          <a *ngFor="let wicketkeeper of wicketKeeper" style="padding: 10px;">{{wicketkeeper.name}}<img src="assets/deleteicon.png" height="20" width="20"  (click)="removeList(wicketkeeper.id,'wk')" />
</a>
          </td>
        </tr>
      </table>
  </div>
</div>
<router-outlet></router-outlet>
